/*
 * Copyright (c) 2025 Beechwoods Software Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/delete-node/ &code_partition;
/delete-node/ &storage_partition;

#include <raspberrypi/partitions_2M_sysbuild.dtsi>

/ {
	chosen {
    /delete-node/ zephyr,code-partition;
		zephyr,code-partition = &boot_partition;
	};
};
